:host,
.app {
  height: 100%;
  background-color: gold;
  display: flex;
  width: 100%;
}

.input {
  margin: 0 30px 20px 0;
  flex-grow: 1;
  &:last-child {
    margin-right: 0;
  }
  label {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: navy;
    display: block;
    margin-bottom: 10px;

   
  }
 
}


